table{
  border-collapse: collapse;
  margin-top: 13.5vh;
}

table thead{
  background-color: #afcae0;
}

table tbody tr{
  height: 3.8rem;
}

table tbody tr:nth-of-type(even){
  background-color: #77bef83a;
}
